<ion-header>
  <ion-navbar>
    <ion-title>
      Poeple with Cats
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <div *ngFor="let item of people | groupBygender">
      <ion-card-header color="primary">
        <ion-card-title> {{ item.gender }} Cat Owners</ion-card-title>
      </ion-card-header>
      <ion-item>
        <div *ngFor="let ppl of item.people">
          <strong> {{ppl.name}} - {{ppl.age}} </strong>
          <div *ngFor="let pet of ppl.pets">
            <div *ngIf="pet.type ==='Cat'">

              <div>{{pet.name}}</div>
            </div>

          </div>
        </div>
      </ion-item>
    </div>
  </ion-card>

</ion-content>