page-home {
    .item-md h2 {
        margin: 2px 0;
        font-size: 1.8rem;
        background: #333;
        padding: 5px;
        color: #fff;
        font-weight: normal;
    }
    .card-title-md{
        color: #fff;
    }
    .card-header-md-primary{
        background: #488aff;
    }
}
